@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Rubik, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
:root {
  --font-size-title-xxl: 4rem;
  --font-size-title-xl: 3rem;
  --font-size-title-l: 1.875rem;
  --font-size-title-m: 1.75rem;
  --font-size-title-s: 1.5rem;
  --font-size-subtitle: 1.25rem;
  --font-size-display-l: 1rem;
  --font-size-display-m: 0.875rem;
  --font-size-display-s: 0.75rem;
  --font-size-display-compact: 11px;
  --lh-size-title-xxl: 86px;
  --lh-size-title-xl: 65px;
  --lh-size-title-l: 48px;
  --lh-size-title-m: 44px;
  --lh-size-title-s: 38px;
  --lh-size-subtitle: 32px;
  --lh-size-display-l: 1.5rem;
  --lh-size-display-m: 22px;
  --lh-size-display-s: 1.25rem;
  --lh-size-display-compact: 18px;
}
::after,
::before {
  box-sizing: border-box;
}
blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ol[role="list"],
ul[role="list"] {
  list-style: none;
}
body,
html {
  min-height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}
img,
picture {
  max-width: 100%;
  display: block;
}
button,
input,
select,
textarea {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  ::after,
  ::before {
    -webkit-animation-duration: 0s !important;
    animation-duration: 0s !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}
html {
  scroll-behavior: smooth;
}
html:focus-within {
  scroll-behavior: smooth;
}
h1 {
  font-style: normal;
  line-height: var(--lh-size-title-s);
  letter-spacing: -0.02em;
  font-family: Satoshi, Helvetica, sans-serif;
  font-size: var(--font-size-title-l);
  font-weight: 700;
}
h2 {
  font-style: normal;
  line-height: var(--lh-size-title-m);
  letter-spacing: -0.02em;
  font-family: Satoshi, Helvetica, sans-serif;
  font-size: var(--font-size-title-m);
  font-weight: 500;
}
h3 {
  font-style: normal;
  line-height: var(--lh-size-display-s);
  letter-spacing: -0.02em;
  font-family: Rubik, Helvetica, sans-serif;
  font-size: var(--font-size-display-l);
  font-weight: 500;
}
p {
  font-style: normal;
  line-height: var(--font-size-display-xl);
  letter-spacing: -0.02em;
  font-family: Rubik, Helvetica, sans-serif;
  font-size: var(--font-size-display-l);
  font-weight: 400;
}
::-webkit-scrollbar {
  display: none;
}
.logo {
  position: fixed;
  z-index: 3;
  top: 5%;
  right: 8%;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: 0;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  width: 100%;
}
@-webkit-keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
.float-anim {
  -webkit-animation: float 2s ease-in-out infinite;
  animation: float 2s ease-in-out infinite;
}
.preloader {
  background: #ebf0ff url(../assets/images/animatedlogo.gif) no-repeat center
    center;
  background-size: 20vmax;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.hide {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.fadeInUp {
  transform: translateY(10px);
}
.fadeInDown {
  transform: translateY(-10px);
}
.fadeInLeft {
  transform: translateX(55px);
}
.fadeInRight {
  transform: translateX(-50px);
}
.fadeInColor {
  filter: grayscale(100%);
}
.pre-animation {
  opacity: 0;
  visibility: hidden;
}
.animation-on {
  transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.animation-on.inview {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
  filter: none;
}
@media (min-width: 768px) {
  * {
    scrollbar-width: auto;
    scrollbar-color: #8cbda1 rgba(255, 255, 255, 0.5);
  }
  ::-webkit-scrollbar {
    display: block;
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.5);
  }
  ::-webkit-scrollbar-thumb {
    background-color: #8cbda1;
    border-radius: 20px;
  }
  .logo {
    top: 5px;
    left: 5%;
    width: 48px;
  }
  .logo svg {
    width: 40px;
  }
  h1 {
    font-style: normal;
    line-height: var(--lh-size-title-xl);
    letter-spacing: -0.02em;
    font-family: Satoshi, Helvetica, sans-serif;
    font-size: var(--font-size-title-xl);
    font-weight: 700;
  }
  h2 {
    font-style: normal;
    line-height: var(--lh-size-title-xl);
    letter-spacing: -0.02em;
    font-family: Satoshi, Helvetica, sans-serif;
    font-size: var(--font-size-title-xl);
    font-weight: 700;
  }
  h3 {
    font-style: normal;
    line-height: var(--lh-size-title-m);
    letter-spacing: -0.02em;
    font-family: Rubik, Helvetica, sans-serif;
    font-size: var(--font-size-title-s);
    font-weight: 400;
  }
  p {
    font-style: normal;
    line-height: var(--lh-size-title-m);
    letter-spacing: -0.02em;
    font-family: Rubik, Helvetica, sans-serif;
    font-size: var(--font-size-title-s);
    font-weight: 300;
  }
}
nav {
  position: fixed;
  bottom: 0;
  z-index: 2;
  height: 60px;
  width: 100vw;
  background: rgba(255, 255, 255, 0.14);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.09);
  filter: drop-shadow(0 -3px 4px rgba(0, 0, 0, 0.25));
  -webkit-filter: drop-shadow(0 -3px 4px rgba(0, 0, 0, 0.25));
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-align: center;
}
nav ul li {
  margin-top: 5px;
  padding: 5px;
}
nav ul li a {
  -webkit-tap-highlight-color: transparent;
}
nav ul li a svg {
  width: 1.4rem;
  height: 1.4rem;
}
nav ul li a h2 {
  font-family: Rubik, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: var(--lh-size-display-s);
  display: block;
  visibility: visible;
  opacity: 0.75;
}
nav ul li a h2.active {
  opacity: 1;
}
nav ul li h2 {
  display: none;
  visibility: none;
}
@media (min-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  }
  nav ul {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    right: 5%;
    width: 40%;
    height: 100%;
  }
  nav ul li {
    padding: 5px;
  }
  nav ul li a {
    -webkit-tap-highlight-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 0.3rem;
  }
  nav ul li a svg {
    width: 1.4rem;
    height: 1.4rem;
  }
  nav ul li a h2 {
    font-family: Rubik, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    display: block;
    visibility: visible;
    opacity: 0.65;
  }
  nav ul li a h2.active {
    opacity: 1;
  }
}
main {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden auto;
  background: linear-gradient(
    116.55deg,
    rgba(244, 91, 15, 0.2) -24.126%,
    rgba(99, 190, 84, 0.2) 24.5%,
    rgba(55, 168, 152, 0.2) 60.5%,
    rgba(94, 63, 185, 0.2) 90.46%
  );
  position: relative;
}
main section {
  width: 100vw;
  min-height: 100vh;
  background-color: transparent;
}
section.home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
section.home .intro-container {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  z-index: 1;
  border-radius: 12px;
}
section.home .intro-container .img-container {
  z-index: 1;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
section.home .intro-container .img-container img {
  width: 210px;
  height: 210px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 162px;
  -webkit-border-radius: 162px;
  -moz-border-radius: 162px;
  -ms-border-radius: 162px;
  -o-border-radius: 162px;
}
section.home .intro-container .intro-card {
  text-align: center;
}
section.home .intro-container .intro-card .intro-header h1 {
  margin: 3rem 0 1rem 0;
}
section.home .intro-container .intro-card .intro-header p {
  margin-bottom: 3rem;
}
section.home .intro-container .intro-card .intro-header b {
  font-weight: 500;
}
@media (min-width: 768px) {
  section.home .intro-container {
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    gap: 2rem;
    position: relative;
    width: 90%;
    height: min(70%, 420px);
  }
  section.home .intro-container .img-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: right;
  }
  section.home .intro-container .img-container img {
    width: 420px;
    height: 520px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 12px;
  }
  section.home .intro-container .intro-card {
    border-radius: 0 12px 12px 0;
    margin: 0;
    position: relative;
  }
  section.home .intro-container .intro-card .intro-header {
    text-align: justify;
  }
  section.home .intro-container .intro-card .intro-header b {
    font-weight: 500;
    font-size: var(--font-size-title-s);
  }
}
section.about {
  text-align: center;
}
section.about .header {
  position: relative;
  top: 8%;
  margin-bottom: 2rem;
}
section.about .academics-card {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.09);
  width: 76%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  position: relative;
  top: 5%;
  margin: auto;
  z-index: 1;
}
section.about .academics-card .academics-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  margin: 1rem 0;
  overflow: auto;
  text-overflow: ellipsis;
}
section.about .technical-skills {
  position: relative;
  top: 8%;
  width: 80%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
  margin: 0 auto 8rem auto;
  z-index: 1;
}
section.about .technical-skills h1 {
  margin: 5% 0 5% 0;
}
section.about .technical-skills .technical-icons-grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 2rem;
  place-items: center;
  padding: 3rem;
  margin: 2rem 0;
}
section.about .technical-skills .technical-icons-grid .tech-icon {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.09);
  width: 5rem;
  height: 5rem;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  display: grid;
  place-items: center;
  transition: 250ms all ease-in-out;
  touch-action: manipulation;
}
section.about .technical-skills .technical-icons-grid .tech-icon :focus,
section.about .technical-skills .technical-icons-grid .tech-icon:hover {
  filter: none;
  transform: scale(0.9);
}
section.about .technical-skills .technical-icons-grid .tech-icon:hover .popup {
  visibility: visible;
  opacity: 1;
}
section.about .technical-skills .technical-icons-grid .tech-icon:focus .popup {
  visibility: visible;
  opacity: 1;
}
section.about .technical-skills .technical-icons-grid .tech-icon .popup {
  visibility: hidden;
  width: 120px;
  background-color: #2d4741;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 250ms ease-in;
}
section.about .technical-skills .technical-icons-grid .tech-icon .popup::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #2d4741 transparent transparent transparent;
}
section.about .technical-skills .technical-icons-grid .tech-icon svg {
  width: 3rem;
  height: 3rem;
}
@media (min-width: 768px) {
  section.about {
    padding-top: 3rem;
  }
  section.about .academics-card .academics-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    text-align: center;
    margin: 5rem 0;
    overflow: auto;
    text-overflow: ellipsis;
    position: relative;
  }
}
section.projects {
  overflow: hidden scroll;
}
section.projects .header {
  position: relative;
  top: 8%;
  margin-bottom: 2rem;
  text-align: center;
}
section.projects .showcases {
  display: grid;
  width: 90%;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(min(80%, 380px), 1fr));
  place-items: center;
  gap: 3rem;
  min-width: 100%;
  position: relative;
  top: 5%;
  margin: 0 auto 8rem auto;
  z-index: 1;
}
section.projects .showcases .project-card {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.09);
  width: min(80%, 380px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
section.projects .showcases .project-card img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}
section.projects .showcases .project-card .project-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  padding: 2rem;
}
section.projects .showcases .project-card .project-description a {
  width: 100%;
}
section.projects .showcases .project-card .project-description button {
  margin-top: 1rem;
}
section.projects .showcases .project-card .project-description .tags-container {
  padding: 0.5rem 0;
  list-style: none;
  margin: 0.3rem 0 0 0;
  overflow: hidden;
}
section.projects
  .showcases
  .project-card
  .project-description
  .tags-container
  li {
  float: left;
}
section.projects
  .showcases
  .project-card
  .project-description
  .tags-container
  li
  .tag {
  background: #2d4741;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  height: 1.2rem;
  line-height: 1.2rem;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
}
section.projects
  .showcases
  .project-card
  .project-description
  .tags-container
  li
  .tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 7px;
  position: absolute;
  width: 6px;
  top: 7px;
}
@media (min-width: 768px) {
  section.projects {
    padding-top: 5rem;
  }
  section.projects .showcases {
    position: relative;
  }
  section.projects .showcases .project-card {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  section.projects .showcases .project-card h2 {
    font-size: var(--font-size-title-m);
    line-height: var(--lh-size-title-l);
  }
  section.projects .showcases .project-card p {
    font-size: var(--font-size-display-l);
    line-height: var(--lh-size-display-l);
  }
  section.projects .showcases .more {
    position: absolute;
    text-align: center;
    display: inline;
    margin: auto;
    width: 100vw;
    top: 110%;
  }
  section.projects .showcases .more svg {
    width: 2rem;
    height: 2rem;
  }
}
section.contact {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
section.contact .header {
  position: relative;
  top: 8%;
  margin-bottom: 2rem;
  text-align: center;
}
section.contact .contact-form-container {
  background-color: transparent;
  z-index: 1;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.09);
  width: 90%;
  height: min(100vh, 900px);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  top: 12%;
  margin: 3rem auto;
}
section.contact .contact-form-container iframe {
  width: 100%;
  height: 100%;
  overflow: visible;
}
section.contact .find-me {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.09);
  width: min(320px, 90%);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  margin: 0 auto 5rem auto;
  padding: 2rem;
  text-align: center;
}
section.contact .find-me h3 {
  position: relative;
  top: -1.2rem;
}
section.contact .find-me h3 + a {
  position: relative;
  top: -1rem;
}
section.contact .find-me ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
section.contact .back-to-top {
  display: none;
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 768px) {
  section.contact {
    padding-top: 5rem;
    position: relative;
  }
  section.contact .back-to-top {
    display: block;
    opacity: 1;
    visibility: visible;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    bottom: 8%;
    right: 8%;
    z-index: 3;
    background: 0 0;
    text-align: center;
    color: #222;
  }
}
