:root {
  --easeInOutQuart: cubic-bezier(0.45, 0, 0.55, 1);
}

.fadeInDown {
  transform: translate(-0.5rem, -2rem);
}

.fadeInUp {
  transform: translateY(3rem);
}

.fadeInLeft {
  transform: translateX(10rem);
}

.fadeInRight {
  transform: translateX(-10rem);
}

.fadeOpacity {
  opacity: 0;
}

.has_animation {
  transition: opacity 300ms linear, transform 500ms ease-in-out;
}

.project-item.has_animation {
  transition: opacity 500ms linear;
}

.prefetch {
  opacity: 0;
  visibility: hidden;
}

.has_animation.viewfetch {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}

.typing-effect {
  position: relative;
  color: var(--color);
  width: 0;
  white-space: nowrap;
  animation: typing 4s steps(26) 3200ms forwards, cursor 1s infinite 3200ms;
  overflow: hidden;
  border-right: 3px solid var(--btnColor);
}

.wrapper {
  width: max-content;
  max-width: 110px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 1;
}

.wrapper svg {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  fill: none;
  user-select: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.wrapper #logo path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 1500ms var(--easeInOutQuart) 0.3s forwards;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.wrapper #logo #logo_name {
  opacity: 0;
  animation: opacity 700ms var(--easeInOutQuart) 1.5s;
}

.wrapper #logo {
  animation: close 300ms var(--easeInOutQuart) 2.3s forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes opacity {
  to {
    opacity: 1;
  }
}

@keyframes close {
  to {
    transform: scale(0.1);
  }
}

@keyframes typing {
  to {
    width: 30ch;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
