@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;900&family=Inter:wght@400;500;600;700;900&family=Poppins:wght@400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light {
  --bg: #e2e8f0;
  --btnColor: #6244c5;
  --color: #071e48;
  --secondaryColor: #4c5d79;
  --stateColor: white;
  --bg_gray: rgba(0, 0, 0, 0.05);
  --secondaryTextColor: white;
}

.dark {
  --bg: #212529;
  --btnColor: #64ffda;
  --color: #ccd6f6;
  --secondaryColor: #636669;
  --stateColor: black;
  --bg_gray: #393e46;
  --secondaryTextColor: rgba(0, 0, 0, 0.2);
  --textGray: #8892b0;
}

html,
body {
  line-height: 1.5;
  background-color: var(--bg);
  color: var(--color);
  counter-reset: navlinks;
  counter-reset: sections;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  transition: background 500ms ease-in-out, color 500ms ease-in-out;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg_gray);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondaryColor);
  border-radius: 5px;
}

img {
  display: block;
  width: 100%;
  pointer-events: none;
  user-select: none;
  border-radius: inherit;
}

/* Loader */
.loader {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  color: var(--btnColor);
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  opacity: 0;
  display: none;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
}

.light .sticky {
  background-color: #d6dce4;
}

/* Navigation Header */
.header {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin-bottom: 40px;
  background: url("../assets/images/background.png") repeat-x;
  position: relative;
  overflow: hidden;
}

.light .image-container {
  mix-blend-mode: luminosity;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "SFMono", "Fira Sans", sans-serif;
  font-size: 0.875rem;
  padding: 20px 2rem;
  z-index: 20;
}

.nav-container .logo {
  font-size: 1.75rem;
  letter-spacing: 0.01rem;
  font-family: "SFMono", "Fira Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.nav-container .logo span {
  cursor: pointer;
}

.nav-container .logo span:first-child {
  color: var(--btnColor);
}

.nav-container .nav_links {
  display: flex;
}

.nav_items {
  margin-right: 20px;
  padding: 10px;
  counter-increment: navlinks;
}

.nav-container .nav_link,
a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.nav-container .nav_link::before {
  content: "0" counter(navlinks) ".";
  color: var(--btnColor);
  font-weight: bold;
}

.nav_items:hover a {
  color: var(--btnColor);
  font-weight: bold;
}

.nav_items.active a {
  color: var(--btnColor);
  font-weight: bold;
}

.btn {
  display: flex;
  align-items: center;
  border: 1.5px solid var(--btnColor);
  padding: 5px 10px;
  cursor: pointer;
  width: fit-content;
}

.nav-btn {
  border-radius: 5px 10px;
}

.btn:hover {
  background-color: var(--btnColor);
  color: var(--bg);
}

.btn:hover a {
  color: var(--bg);
}

/* Details */
.full-details .background-text {
  position: absolute;
  user-select: none;
  left: 7%;
  top: 7%;

  font-family: "Poppins", "Inter", sans-serif;
  font-weight: 700;
  font-size: 15rem;
  letter-spacing: -0.02em;
  color: var(--bg_gray);

  opacity: 0.5;
  text-transform: uppercase;
}

.light .background-text {
  mix-blend-mode: soft-light;
  -webkit-text-stroke: 5px black;
}

.dark .background-text {
  mix-blend-mode: screen;
}

#details .name {
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: -0.02em;
  line-height: 1.25;
}

#details .subtitle {
  margin-top: 50px;
  font-weight: 400;
  font-size: 24px;
  font-family: "Consolas", sans-serif;
}

.header-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.image-container {
  max-width: 40rem;
  max-height: 40rem;
  position: relative;

  display: flex;
  justify-content: center;
}

#background {
  /* width: 450px;
  height:  450px; */
  width: 70%;
  height: 70%;
  background-color: var(--btnColor);
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-top-color: transparent;
}

.image-container .image {
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
}

.image-container .featured-photo {
  object-position: top;
  pointer-events: none;
  user-select: none;
  filter: grayscale(1);
}

.bar {
  border-radius: 4px;
  background-color: var(--btnColor);
  margin: 20px 0;
}

.bar-h {
  width: 192px;
  height: 7px;
}

.follow-container {
  position: fixed;
  right: 0rem;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.follow-container .follow {
  transform: rotate(90deg);
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 1.25rem;
}

.bar-v {
  height: 192px;
  width: 5px;
}

.highlight {
  color: var(--btnColor);
}

.btn-check {
  font-size: 0.875rem;
  padding: 1.25rem 1.75rem;
  border-radius: 4px;
  line-height: 1;
  margin-top: 3rem;
}

.icon {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.icon:hover {
  opacity: 0.85;
  cursor: pointer;
}

/* Main Container */

main {
  margin: 0 12rem;
}

.section-counter {
  counter-increment: sections;
  padding-top: 4rem;
  width: 100%;
}

.section-counter#contact {
  padding-top: 0;
  margin-top: 0;
}

.section-counter .heading {
  display: flex;
  align-items: center;
  gap: 20px;
}
.heading.space {
  justify-content: space-between;
}

.section-counter .header-title,
#contact .topic {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;

  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.section-counter .header-title::before {
  content: "0" counter(sections) ".";
  font-size: 1.5rem;
  font-family: "SFMono", sans-serif;
  color: var(--btnColor);
}

.nav-btn {
  display: none;
}

.section-counter .line {
  width: 100%;
  height: 0.5px;
  border-radius: 4px;
  background-color: var(--secondaryColor);
}

.section-counter .content-section {
  margin-top: 1.5rem;
  position: relative;
}

.content-section .images {
  width: 15rem;
  float: right;
  border-radius: 8px;
  margin-left: 40px;
  margin-bottom: 40px;
  box-shadow: 1.25rem 1.25rem 2px var(--btnColor);
  transition: 200ms ease-in-out;
  filter: grayscale(1);
}

.light .content-section .images {
  filter: grayscale(1);
}

.content-section .images img {
  border-radius: 8px;
}

.content-section .content p,
#contact .contact-description {
  font-size: 1.1rem;
  margin-bottom: 0.9375rem;
  color: var(--textGray);
  line-height: 1.7;
}

.content-section .images:hover {
  transform: scale(1.1);
  box-shadow: -1.25rem -1.25rem 2px var(--btnColor);
}

#skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

#skills .heading {
  height: 60px;
  line-height: 60px;
}

#skills .skill-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));

  gap: 0px 10px;

  margin-top: 10px;
  list-style: none;
}

#skills .skill-list li {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 0.875rem;
}

#skills .skill-list li:before {
  content: "⫸";
  color: var(--btnColor);
  padding-right: 1rem;
}

#skills .toggle-buttons {
  display: flex;
  align-items: center;
  border: 1px solid var(--btnColor);
  border-radius: 8px;
  outline: none;
  text-align: center;
}

.toggle-buttons > div {
  width: 50%;
  height: 100%;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.tab-active {
  background-color: var(--btnColor);
  border-radius: 8px;
  color: var(--stateColor);
}

.tab-content {
  display: none;
}

.tab-exp {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.tab-content-active {
  display: grid;
}

.tab-content .about {
  font-size: 20px;
  color: var(--color);
}

.tab-content .institution {
  font-size: 20px;
  color: var(--color);
  margin-top: 10px;
}

.tab-content .time {
  color: var(--btnColor);
  margin: 10px 0 7px;
}

.tab-content .study {
  font-size: 0.875rem;
  margin-top: 10px;
}

.icons svg {
  width: 2rem;
  height: 2rem;
  color: var(--btnColor);
}

.academics {
  padding: 25px;
  border-radius: 8px;
  background-color: var(--bg_gray);
}

/* Slider */

.swiper {
  position: relative;
  width: 100%;
  height: 203px;
  cursor: grab;
}

.slide-pagination {
  position: absolute;
  left: calc(100% - 100px) !important;
  right: 20px !important;
  bottom: 20px !important;
  z-index: 21;
  height: 11px !important;
}

.slide-pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  border-radius: 10px;
  background: var(--secondaryColor);
  opacity: 1;
  transition: all 0.3s;
  margin-bottom: 10px !important;
}

.slide-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--btnColor);
  width: 30px;
}

.customIcons {
  position: fixed;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  z-index: 20;
  cursor: pointer;
  user-select: none;
  transition: 500ms ease-in;
}

.scroll-up {
  bottom: 20px;
  right: 20px;
  background-color: var(--btnColor);
  transform: translate(7rem);
}

.scroll-up.show {
  transform: translate(0);
}

.scroll-up svg,
.theme-switcher svg {
  width: 25px;
  height: 25px;
  color: var(--stateColor);
}

.theme-switcher {
  bottom: 20px;
  left: 20px;
}

.light .theme-switcher {
  background-color: var(--secondaryColor);
}

.dark .theme-switcher {
  background-color: var(--color);
}

.side-navbar {
  position: fixed;
  top: 50%;
  transform: translate(-7rem, -50%);
  left: 3rem;
  z-index: 20;
  transition: 500ms ease-in;
}

.side-navbar.show {
  transform: translate(0, -50%);
}

.status-container {
  position: absolute;
  height: 100%;
}

.status-bar,
.status-fill {
  width: 5.5px;
  position: absolute;
  transform: translate(-50%);
  border-radius: 8px;
}

.status-bar {
  height: 100%;
  border: 2px solid var(--btnColor);
  background-color: var(--btnColor);
}

.status-fill {
  height: 0;
  background-color: var(--btnColor);
}

.side-navbar .nav-menu li {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
}

.side-navbar .dot::after {
  content: "";
  border-radius: 50%;
  border: 2px solid var(--btnColor);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--stateColor);
}

.side-navbar .dot::after {
  width: 10px;
  height: 10px;
  transition: all 300ms ease-in;
}

.side-navbar li.active .dot::after,
.side-navbar li:hover .dot::after {
  width: 20px;
  height: 20px;
  background-color: var(--btnColor);
}

.side-navbar .dot-about {
  background-color: var(--btnColor);
}

.side-navbar .dot-about {
  font-size: 0.875rem;
  height: 40px;
  padding: 5px 10px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  color: var(--stateColor);
  border-radius: 8px;
  opacity: 0;
  transition: all 300ms ease-in;
}

.side-navbar .nav-menu li .dot-about::before {
  content: "";
  position: absolute;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid var(--btnColor);
  top: 50%;
  transform: translate(-18px, -50%);
}

.side-navbar .nav-menu li:hover .dot-about,
.side-navbar .nav-menu li.active .dot-about:not(.sHome) {
  margin-left: 25px;
  opacity: 1;
}

.filter-group {
  display: flex;
  gap: 30px;
}

.filter-group .filter-list {
  padding-bottom: 5px;
  cursor: pointer;
  transition: border-color 300ms ease-in;
}

.filter-group .filter-list.active,
.filter-list:hover {
  color: var(--btnColor);
  border-bottom: 2px solid var(--btnColor);
}

.filter-group .filter-list.active {
  font-weight: 700;
}

.grid {
  width: 100%;
}

.project-item {
  background: var(--bg_gray);
  padding: 20px;
  margin: 10px;
  color: black;
  width: calc(33% - 20px);
  display: inline-block;
  border-radius: 8px;
}

.project-item .files {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.project-item svg,
.project-container svg {
  width: 22px;
  height: 22px;
  color: var(--color);
}

.project-item .folder svg {
  width: 40px;
  height: 40px;
  color: var(--btnColor);
}

.project-item .links,
.project-container .links {
  display: flex;
  gap: 20px;
}

.project-content {
  color: var(--color);
}

.project-content .project-title,
.project-container .project-name {
  font-size: 1.25rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.project-title a {
  font-weight: 700;
}

.project-item a:hover,
.project-item a:hover svg,
.project-container a:hover,
.project-container a:hover svg {
  color: var(--btnColor);
}

.project-content .project-subtitle,
.project-container .project-description {
  font-size: 0.9375rem;
  margin-bottom: 20px;
}

.technologies,
.project-container .title {
  font-family: "SFMono", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.85rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  text-transform: capitalize;
}

.project-featured {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.project-container {
  display: flex;
  gap: 2.5rem;
}

.project-container:nth-child(odd) {
  flex-direction: row;
}

.project-container:nth-child(even) {
  flex-direction: row-reverse;
}

.project-container .project-image {
  width: 100rem;
  position: relative;
  cursor: pointer;

  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-right: 0;
  border-left: 4px solid var(--btnColor);
  opacity: 0.7;
  transition: opacity 300ms ease-in-out;
}

.project-container:nth-child(even) .project-image {
  border-radius: 8px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-left: 0;
  border-right: 4px solid var(--btnColor);
}

.project-container .project-image:hover {
  opacity: 1;
}

.project-container .project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-container .project-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.project-container:nth-child(even) .project-details {
  align-items: flex-start;
}

.project-container .title {
  color: var(--btnColor);
  margin: 10px 0;
}

.project-container .project-description {
  box-shadow: 0 5px 5px var(--secondaryColor);
  position: relative;
  padding: 35px 25px;
  border-radius: 4px;
  background-color: var(--bg_gray);
  color: var(--color);
  transform-origin: 100% 50%;
  width: calc(100% + 5rem);
  z-index: 20;
}

.project-container:nth-child(odd) .project-description {
  text-align: right;
}

.light .project-container .project-description {
  background-color: #d6dce4;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
  /* color: #ccd6f6; */
}

.project-container .links {
  margin-top: 20px;
}

.btn-more {
  width: fit-content;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding: 10px 20px;
  border-radius: 9px;
}

.btn-more .btn {
  background-color: var(--btnColor);
  color: var(--stateColor);
  border-radius: 9px;
  padding: 10px 20px;
}

.btn-more .btn:hover {
  color: var(--btnColor);
  background-color: var(--stateColor);
}

#contact {
  max-width: 40rem;
  margin: 0 auto;
  height: min(800px, 100vh);
  position: relative;
}

#contact .heading {
  flex-direction: column;
}

#contact .header-title {
  font-size: 1rem;
  color: var(--btnColor);
  font-weight: 400;
}

#contact .topic {
  font-size: 3rem;
}

#contact .header-title::before {
  font-size: 0.875rem;
}

#contact .content-section {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact .contact-description {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
}

.built {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%);
}

.footer-follow {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 20px;
  display: none;
}

.footer-follow .icons {
  display: flex;
  gap: 20px;
}

.footer-follow .icon {
  margin: 0;
}
